html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

a {
	color: inherit;
	text-decoration: none;
}

img {
	max-width: 100%;
}

body {
	font-family: 'Open Sans', sans-serif;
}

section {
	margin: 0;
	padding: 0;
	margin-top: 87px;
	padding-bottom: 160px;
	border-bottom: 1px solid #E4E4E4;
}

.home {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	color: #1C1C1C;
	border: none;
	position: relative;
	line-height: 1.4;
	border-top: 1px solid #E4E4E4;
}

.home-main-title {
	margin-left: 0;
	padding-left: 0;
	margin-top: 0;
	padding-top: 0;
	font-size: 40px;
	font-weight: 300;
	color: #1C1C1C;
}

.head-button {
	font-weight: 600;
	padding: 21px 55px;
	background-color: #3172B9;
	color: #ffffff;
	display: inline-block;
	border-radius: 3px;
	font-size: 15px;
}

.home-button {
	font-weight: 600;
	padding: 20px 60px;
	background-color: #3172B9;
	color: #ffffff;
	display: inline-block;
	border-radius: 3px;
	font-size: 15px;
}

.head-logo {
	margin-right: 271px;
	height: 44px;
	width: 115px;;
}

.home-text {
	width: 35%;
	padding: 0;
	margin: 113px 0 0 185px;
	display: inline-block;
	position: absolute;
}

.home-paragraph {
	margin-left: 0;
	padding-left: 0;
	font-size: 16px;
	color: #787878;
}

.home-image {
	min-height: 300px;
	min-width: 100%;
	display: block;
}

.main-block {
	max-width: 1540px;
}

.home-ssc {
	padding: 5px;
	text-indent: 45px;
	background-position: 45px;
	background-image: url("../images/Group-1.svg");
	background-repeat: no-repeat;
	position: left center;
	padding-left: 20px;
	font-size: 11px;
	color: #787878;
}

.head {
	align-items: center;;
	height: 110px;
	display: flex;
	padding-left: 185px;
}

.head-toSection {
	color: #1C1C1C;
	font-size: 15px;
	font-weight: 600;
	padding-right: 52px;
}

.head-navPanel {
	padding: 20px 0;
	list-style-type: none;
	display: flex;
}

.services {
	padding-top: 2%;
	display: flex;
	flex-direction: column;
	color: #1C1C1C;
	padding: 0 185px;
	padding-bottom: 160px;
	line-height: 1.4;
}

.serv-title {
	font-weight: 300;
	justify-content: center;
	display: flex;
	font-size: 36px;
	margin-bottom: 0;
}

.serv-paragraph {
	justify-content: center;
	display: flex;
	font-size: 16px;
	color: #787878;
}

.serv-ul {
	justify-content: center;
	list-style-type: none;
	display: flex;

}

.serv-li {
	max-width: 270px;
	min-width: 200px;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 50px 20px;
	margin: 0 30px 0 0;
	border: 1px solid #E4E4E4;
}

.img-png {
	margin: 0;
	padding: 0;
}

.serv-li-title {
	margin-bottom: 0;
	font-weight: 600;
}

.serv-li-paragraph {
	text-align: center;
	margin: 0;
	padding: 0;
	margin-top: 20px;
	color: #787878;
}

.articles {
	line-height: 1.4;
	display: flex;
	flex-direction: column;
	color: #1C1C1C;
	padding: 0 185px;
	padding-bottom: 160px;
}

.artic-title {
	font-size: 36px;
	font-weight: 300;
}

.artic-ul {
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;
}

.artic-li {
	margin-right: 15px;
	margin-bottom: 15px;
	border-radius: 5px;
	flex: 0 0 calc(50% - 15px);
	display: flex;
	flex-direction: row;
}

.artic-li-img {
	margin: 0;
	padding: 0;
	height: 180px;
	width: 180px;
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
}

.artic-li-text {
	border: 2px solid #E4E4E4;
	border-left: 0;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	padding: 23px 0 0 30px;
}

.artic-li-date {
	margin: 0;
	padding: 0;
	display: flex;
	font-weight: 400;
	color: #787878;
	font-size: 10px;
}

.artic-li-title {
	margin: 10px 0;
	align-items: top;
	font-size: 20px;
	font-weight: 600;
}

.artic-li-paragraph {
	display: inline-block;
	margin: 0;
	padding: 0;
	font-size: 14px;
	font-weight: 400;
	color: #787878;
	max-width: 56%;
}

.clients {
	line-height: 1.4;
	display: flex;
	flex-direction: column;
	color: #1C1C1C;
	padding: 0 185px;
	padding-bottom: 160px;
}

.cli-title {
	font-size: 36px;
	font-weight: 300;
}

.cli-ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: flex;
}

.cli-li {
	border: 2px solid #E4E4E4;
	margin-right: 30px;
	padding: 36px;
	padding-top: 26px;
	padding-bottom: 0;
	border-radius: 5px;
	min-width: 270px;
}

.cli-li-p {
	font-size: 14px;
	font-weight: 400;
	color: #787878;
	padding-bottom: 20px;
	border-bottom: 2px solid #E4E4E4;
}

.cli-li-photoHuman {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: row;
	padding-bottom: 30px;
}

.cli-li-cliet-img {
	margin: 0;
	padding: 0;
	width: 60px;
	height: 60px;
	z-index: -1;
	padding: 1px 0 0 1px;
	border-radius: 50%;
}

.cli-li-images {
	margin: 0;
	padding: 0;
	width: 60px;
	display: flex;
	flex-direction: row;
}

.cli-li-photoHuman-text {
	margin: 0;
	padding: 0;
	margin-top: 8px;
	margin-left: 20px;
	align-items:  center;
}

.cli-li-ellipse {
	margin: 0;
	padding: 0;
	height: 60px;
	position: absolute;
}

.cli-li-name {
	font-size: 17px;
	font-weight: 600;
}

.cli-li-profession {
	margin: 0;
	padding: 0;
	margin-top: 5px;
	font-size: 14px;
	font-weight: 400;
	color: #787878;
}

.contacts {
	line-height: 1.4;
	display: flex;
	flex-direction: column;
	color: #1C1C1C;
	padding: 0 185px;
	padding-bottom: 160px;
}

.cont-ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: flex;
}

.cont-li {
	margin-right: 72px;
	padding-top: 26px;
	padding-bottom: 0;
	border-radius: 5px;
	min-width: 270px;
}

.cont-title {
	font-size: 36px;
	font-weight: 300;
}

.cont-li-title {
	font-weight: 600;
	font-size: 17px;
}

.cont-li-p {
	font-size: 14px;
	font-weight: 400;
	max-width: 60%;
	color: #787878;
}

.cont-li-mail-ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.cont-li-mail-li {
	font-size: 14px;
	font-weight: 400;
	color: #787878;
}

.cont-li-tel-ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.cont-li-tel-li {
	font-size: 14px;
	font-weight: 400;
	color: #787878;
}

.joinUs {
	padding: 0;
	line-height: 1.4;
	display: flex;
	flex-direction: column;
	color: #1C1C1C;
	padding-bottom: 160px;
}

.join-title {
	font-weight: 300;
	font-size: 36px;
	text-align: center;
	margin: 0;
	padding: 0;
}

.join-under-title-p {
	font-weight: 400;
	font-size: 16px;
	color:#787878;
	text-align: center;
}

.join-input-div {
	margin: 0;
	padding: 0;
	display: flex;
	margin: 0 240px;
}

.join-input-div-ul {
	width: 600px;
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
}

.join-input-div-li {
	margin: 0;
	padding: 0;
	display: flex;
	margin-right: 19px;
	margin-bottom: 19px;
}

.join-input-div-li-input {
	margin: 0;
	padding: 0;
	padding: 18px 42px 18px 10px;
	border: 2px solid #E4E4E4;
	border-radius: 50px;
}

.join-input-div-comment {
	margin: 0;
	padding: 0;
	margin-bottom: 19px;
	padding-bottom: 65px;
	padding-left: 10px;
	border-radius: 20px;
	width: 520px;
	height: 139px;
	border: 2px solid #E4E4E4;
}

.join-agree-div {
	display: flex;
	margin-right: 12px;
	margin-top: 10px;
}

.join-agree-text {
	margin-left: 8px;
	margin-right: 14px;
	font-weight: 400;
	font-size: 12px;
	color: #787878;
}

.join-agree-confirm-div {
	margin-right: 240px;
	display: flex;
	flex-direction: column;
	align-items: end;
}

.join-agree-box {
	accent-color: white;
	background-color: blue;
	border-radius: 0;
}

.join-confirm-button{
	margin: 0;
	display: flex;
	max-width: 100%;
	padding: 23px 70px;
	background-color: #3172B9;
	border-radius: 50px;
	flex-wrap: wrap;
	color: #ffffff;
	font-weight: 600;
	font-size: 15px;
}

.footer {
	display: flex;
	flex-direction: row;
	color: #1C1C1C;
	margin: 45px 0;
	padding: 0 185px;
	align-items: center;
}

.foot-lionic-ul {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: row;
	list-style-type: none;
}

.foot-lionic-li {
	margin-right: 28px;
	font-size: 15px;
	font-weight: 400;
	color: #787878;
}

.foot-lionic-info {
	margin-right: 199px;
	margin-left: 25px;
	font-size: 12px;
	font-weight: 400;
	color: #787878;
}

.foot-user-agreement {
	color: #3172B9;
    text-decoration: underline;
}