html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

a {
	color: inherit;
	text-decoration: none;
}

img {
	max-width: 100%;
}

body {
	font-family: 'Open Sans', sans-serif;
}

.head {
	height: 110px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	width: 1170px;
}

.head-logo {
	margin-right: 270px;
	height: 44px;
	width: 115px;
}

.head-logo {
	margin-top: 5px;
	padding: 0;
}

.head-toSection {
	color: #1C1C1C;
	font-size: 15px;
	font-weight: 600;
	padding-right: 52px;
	margin-right: 1px;
}
.head-toSection:last-child {
	margin: 0;
}

.head-toSection-a {
	transition: color 0.3s;
}

.head-toSection-a:active:focus {
	border: 0;
	outline: 0;
	text-decoration: underline;
}

.head-toSection-a:focus {
	border: 2px solid #ffffff;
	outline: 1px solid #3172B9;
}

.head-toSection-a:hover {
	color: #71A7E2;
}

.head-navPanel {
	padding: 20px 0;
	list-style-type: none;
	display: flex;
}

.head-button {
	border: none;
	background: none;
	font-weight: 600;
	width: 150px;
	height: 50px;
	background-color: #3172B9;
	color: #ffffff;
	display: inline-block;
	border-radius: 3px;
	font-size: 15px;
	transition: background-color 0.3s;
}

.head-button:hover {
	background-color: #71A7E2;
}

.head-button:active {
	background-color: #0E3B6C;
}

.head-button:focus {
	border: 2px solid #ffffff;
	outline: 1px solid #3172B9;
}

.home {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	color: #1C1C1C;
	border: none;
	position: relative;
	line-height: 1.3;
	border-top: 1px solid #E4E4E4;
}

.home-main-title {
	margin: 0;
	padding: 0;
	max-width: 55%;
	margin-left: 0;
	padding-left: 0;
	margin-top: 0;
	padding-top: 0;
	font-size: 40px;
	font-weight: 300;
	color: #1C1C1C;
}

.home-text-main-div {
	padding: 0;
	margin: 0 auto;
	width: 1170px;
}

.home-text {
	padding: 0;
	margin: 0;
	margin-top: 113px;
	display: flex;
	justify-content: start;
	flex-direction: column;
	position: absolute;
}

.home-button {
	margin-top: 9px;
	border: none;
	background: none;
	font-weight: 600;
	height: 58px;
	width: 250px;
	background-color: #3172B9;
	color: #ffffff;
	display: inline-block;
	border-radius: 3px;
	font-size: 15px;
	transition: background-color 0.3s;
}

.home-button:hover {
	background-color: #71A7E2;
}

.home-button:focus {
	border: 2px solid #ffffff;		
	outline: 1px solid #3172B9;
}

.home-button:active {
	background-color: #0E3B6C;
}

.home-paragraph {
	line-height: 1.6;
	margin: 25px 0;
	max-width: 50%;
	margin-left: 0;
	padding-left: 0;
	font-size: 16px;
	color: #787878;
}

.home-image {
	min-height: 300px;
	min-width: 100%;
	display: block;
}

.home-ssc {
	padding: 5px;
	text-indent: 47px;
	background-position-x: 40px;
	background-position-y: 1px;
	background-image: url("../images/Group-1.svg");
	background-repeat: no-repeat;
	position: left center;
	padding-left: 20px;
	font-size: 11px;
	color: #787878;
}

.services {
	display: flex;
	justify-content: center;
	margin: 0 auto;
	max-width: 1170px;
	display: flex;
	flex-direction: column;
	color: #1C1C1C;
	line-height: 1.3;
	margin-top: 56px;
	padding-bottom: 145px;
}

.serv-title {
	font-weight: 300;
	justify-content: center;
	display: flex;
	font-size: 36px;
	margin-bottom: 0;
	margin-bottom: 6px;
}

.serv-paragraph {
	justify-content: center;
	display: flex;
	font-size: 16px;
	color: #787878;
	text-indent: -8px;
	margin-bottom: 37px;
}

.serv-ul {
	padding: 0;
	justify-content: center;
	list-style-type: none;
	display: flex;

}

.serv-li {
	width: 270px;
	height: 320px;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 60px 17px 56px;
	margin: 0 30px 0 0;
	border: 1px solid #E4E4E4;
	transition: background-color 0.3s;
}

.serv-li:last-child {
	margin: 0;
}

.serv-li:hover {
	background-color: #3172B9;
	color: #FFFFFF;
}

.serv-li:hover .serv-li-paragraph {
	color: #FFFFFF;
}

.serv-li:hover svg {
	path {
		fill: #ffffff;
	}
}

.serv-img-svg {
	height: 100%;
	margin: 0;
	padding: 0;
}

.serv-li-title {
	margin: 0;
	margin-top: 29px;
	font-weight: 600;
	font-size: 20px;
}

.serv-li-paragraph {
	text-align: center;
	margin: 0;
	padding: 0;
	margin-top: 17px;
	font-size: 14px;
	font-weight: 400;
	color: #787878;
	line-height: 1.5;
}

.articles {
	padding: 0;
	display: flex;
	justify-content: center;
	margin: 0 auto;
	max-width: 1170px;
	line-height: 1.3;
	display: flex;
	flex-direction: column;
	color: #1C1C1C;
	margin-top: 32px;
}

.artic-title {
	font-size: 36px;
	font-weight: 300;
	margin-top: 57px;
	margin-bottom: 26px;
	text-indent: -3px;
}

.artic-ul {
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;
}

.artic-li {
	margin-right: 30px;
	margin-bottom: 30px;;
	border-radius: 5px;
	height: 180px;
	flex: 0 0 calc(50% - 15px);
	display: flex;
	flex-direction: row;
	transition: background-color 0.3s;
}

.artic-li:nth-child(2n) {
	margin-right: 0;
}

.artic-li:hover {
	background-color: #3172B9;
	color: #ffffff;
}

.artic-li:focus {
	background-color: #71A7E2;
	color: #ffffff;
	border: none;
	outline: none;
}

.artic-li:active {
	background-color: #0E3B6C;
	color: #ffffff;
}

.artic-li:hover .artic-li-date {
	color: #ffffff;
}

.artic-li:hover .artic-li-paragraph {
	color: #ffffff;
}

.artic-li:focus .artic-li-date {
	color: #ffffff;
}

.artic-li:focus .artic-li-paragraph {
	color: #ffffff;
}

.artic-li:active .artic-li-date {
	color: #ffffff;
}

.artic-li:active .artic-li-paragraph {
	color: #ffffff;
}

.artic-li-img {
	margin: 0;
	padding: 0;
	height: 180px;
	width: 170px;
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
}

.artic-li-text {
	width: 410px;
	border: 2px solid #E4E4E4;
	border-left: 0;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	padding: 23px 0 0 30px;
}

.artic-li-date {
	margin: 0 0 0 3px ;
	padding: 0;
	display: flex;
	font-weight: 400;
	color: #787878;
	font-size: 10px;
}

.artic-li-title {
	margin: 0 0 15px 3px ;
	align-items: top;
	font-size: 20px;
	font-weight: 600;
}

.artic-li-paragraph {
	display: inline-block;
	margin: 0 0 0 3px ;
	padding: 0;
	line-height: 1.5;
	font-size: 14px;
	font-weight: 400;
	color: #787878;
	max-width: 56%;
}

.clients {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	margin: 0 auto;
	max-width: 1170px;
	height: 700px;
	line-height: 1.3;
	display: flex;
	flex-direction: column;
	color: #1C1C1C;
}

.cli-title {
	font-size: 36px;
	font-weight: 300;
}

.cli-ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: flex;
}

.cli-li {
	margin: 0;
	padding: 0;
	border: 2px solid #E4E4E4;
	margin-right: 30px;
	padding: 36px;
	padding-top: 26px;
	padding-bottom: 0;
	border-radius: 5px;
	min-width: 270px;
}

.cli-li-p {
	font-size: 14px;
	font-weight: 400;
	color: #787878;
	padding-bottom: 20px;
	border-bottom: 2px solid #E4E4E4;
}

.cli-li-photoHuman {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: row;
	padding-bottom: 30px;
}

.cli-li-cliet-img {
	margin: 0;
	padding: 0;
	width: 60px;
	height: 60px;
	z-index: -1;
	padding: 1px 0 0 1px;
	border-radius: 50%;
}

.cli-li-images {
	margin: 0;
	padding: 0;
	width: 60px;
	display: flex;
	flex-direction: row;
}

.cli-li-photoHuman-text {
	margin: 0;
	padding: 0;
	margin-top: 8px;
	margin-left: 20px;
	align-items:  center;
}

.cli-li-ellipse {
	margin: 0;
	padding: 0;
	height: 60px;
	position: absolute;
}

.cli-li-name {
	font-size: 17px;
	font-weight: 600;
}

.cli-li-profession {
	margin: 0;
	padding: 0;
	margin-top: 5px;
	font-size: 14px;
	font-weight: 400;
	color: #787878;
}

.contacts {
	line-height: 1.3;
	display: flex;
	justify-content: center;
	flex-direction: column;
	color: #1C1C1C;
	width: 1170px;
	height: 563px;
	margin: 0 auto;
}

.cont-ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: flex;
}

.cont-li {
	margin: 0;
	padding: 0;
	width: 215px;
	height: 160px;
	padding-bottom: 0;
	border-radius: 5px;
	margin-right: 185px;
}

.cont-li:last-child {
	margin: 0;
}

.cont-title {
	font-size: 36px;
	font-weight: 300;
}

.cont-li-title {
	font-weight: 600;
	font-size: 17px;
}

.cont-li-p {
	font-size: 14px;
	font-weight: 400;
	color: #787878;
}

.cont-li-mail-ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.cont-li-mail-li {
	font-size: 14px;
	font-weight: 400;
	color: #787878;
}

.cont-li-mail-li-a {
	transition: color 0.3s;
}

.cont-li-mail-li-a:hover {
	color: #71A7E2;
}

.cont-li-mail-li-a:active {
	color: #0E3B6C;
}

.cont-li-mail-li-a:focus {
	border: 2px solid #3172B9;
	outline: 1px solid #3172B9;
}

.cont-li-tel-ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.cont-li-tel-li {
	font-size: 14px;
	font-weight: 400;
	color: #787878;
}

.cont-li-tel-li-a {
	transition: color 0.3s;
}

.cont-li-tel-li-a:hover {
	color: #71A7E2;
}

.cont-li-tel-li-a:active {
	color: #0E3B6C;
}

.cont-li-tel-li-a:focus {
	border: 2px solid #3172B9;
	outline: 1px solid #3172B9;
}

.joinUs {
	background: none;
	padding: 0;
	line-height: 1.3;
	display: flex;
	justify-content: center;
	margin: 0 auto;
	flex-direction: column;
	max-width: 1170px;
	height: 573px;
	color: #1C1C1C;
}

.join-title {
	font-weight: 300;
	font-size: 36px;
	text-align: center;
	margin: 0;
	padding: 0;
}

.join-under-title-p {
	font-weight: 400;
	font-size: 16px;
	color:#787878;
	text-align: center;
}

.join-input-div {
	margin: 0;
	padding: 0;
	display: flex;
}

.join-input-div-ul {
	margin: 0;
	padding: 0;
	max-width: 50%;
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
}

.join-input-div-li {
	margin: 0;
	padding: 0;
	display: flex;
	margin-right: 19px;
	margin-bottom: 19px;
}

.join-input-div-li-input {
	margin: 0;
	padding: 0;
	width: 251px;
	height: 60px;
	padding-left: 11px;
	border: 2px solid #E4E4E4;
	border-radius: 50px;
	transition: background-color 0.3s;
}

.join-input-div-li-input:hover {
	outline: 2px solid #71A7E2;
}

.join-input-div-li-input:focus {
	outline: 2px solid #71A7E2;
	background-color: rgb(113, 167, 226, 20%);
}

.join-input-div-li-input:active {
	outline: 2px solid #0E3B6C;
	color: #1C1C1C;
}

.join-input-div-li:last-child .join-input-div-li-input{
	color: #787878;
}

.join-input-div-comment {
	display: flex;
	margin: 0;
	padding: 0;
	padding-bottom: 85px;
	padding-left: 10px;
	border-radius: 20px;
	width: 520px;
	height: 139px;
	border: 2px solid #E4E4E4;
	transition: background-color 0.3s;
}

.join-input-div-comment:hover {
	outline: 2px solid #71A7E2;
}

.join-input-div-comment:focus {
	outline: 2px solid #71A7E2;
	background-color: rgb(113, 167, 226, 20%);
}

.join-input-div-comment:active {
	outline: 2px solid #0E3B6C;
	color: #1C1C1C;
}

.join-agree-div {
	display: flex;
	margin-right: 12px;
	margin-top: 10px;
}

.join-agree-text {
	margin-left: 8px;
	margin-right: 14px;
	font-weight: 400;
	font-size: 12px;
	color: #787878;
}

.join-agree-confirm-div {
	margin-right: 240px;
	display: flex;
	flex-direction: column;
	align-items: end;
}

.join-agree-box {
	accent-color: white;
	background-color: blue;
	border-radius: 0;
}

.join-confirm-button{
	border: none;
	background: none;
	margin: 0;
	display: flex;
	max-width: 100%;
	height: 60px;
	width: 230px;
	justify-content: center;
	align-items: center;
	background-color: #3172B9;
	border-radius: 50px;
	flex-wrap: wrap;
	color: #ffffff;
	font-weight: 600;
	font-size: 15px;
	transition: background-color 0.3s;
}

.join-confirm-button:hover {
	background-color: #71A7E2;
}

.footer {
	display: flex;
	flex-direction: row;
	color: #1C1C1C;
	height: 134px;
	width: 1170px;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
}

.foot-lionic-ul {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: row;
	list-style-type: none;
}

.foot-lionic-li {
	margin-right: 28px;
	font-size: 15px;
	font-weight: 400;
	color: #787878;
}

.foot-lionic-li-a {
	transition: color 0.3s;
}

.foot-lionic-li-a:active:focus {
	border: 0;
	outline: 0;
	text-decoration: underline;
}

.foot-lionic-li-a:focus {
	border: 2px solid #ffffff;
	outline: 1px solid #3172B9;
}

.foot-lionic-li-a:hover {
	color: #71A7E2;
}

.foot-lionic-li-a-svg {
	transition: fill 0.3s;
}

.foot-lionic-li-a-svg:active:focus {
	border: none;
	outline: 0;
	path {
		fill: #3172B9;
	}
}

.foot-lionic-li-a-svg:focus {
	border: 2px solid #ffffff;
	outline: 1px solid #3172B9;
}

.foot-lionic-li-a-svg:hover svg {
	path {
		fill: #71A7E2;
	}
}

.foot-lionic-info {
	margin-right: 199px;
	margin-left: 25px;
	font-size: 12px;
	font-weight: 400;
	color: #787878;
}

.foot-user-agreement {
	color: #3172B9;
    text-decoration: underline;
}